<div id="zzdb_bk">
  <div id="zzdb_bt">资质代办</div>
  <div id="zzdb_more"><a href="资质代办-资质信息.html"><img src="images/more_2.jpg" border="0" /></a></div>
</div>
<div id="zzdb_nrbk">
  <ul>
    <!--循环开始 显示24条-->
    <% @seg_zzdb.records.each do |record| %>
      <li><a href="资质代办三级页-公司信息.html" class="zz_link"><%= record.title %></a></li>
    <% end %>
  <!--循环结束 显示24条-->
  </ul>
</div>