<style type="text/css">
@import url("/style_jianzhu/tabbing.css");
  </style>

<div class="center" style="height:345px;background-image:url('/img/zz_bk.jpg');background-size:cover">
<div style="position:relative;left:8px;top:4px;box-shadow:2px 10px 5px #555;">
<ul class="tabs">
        <li>
          <input type="radio" name="tabs" id="tab1" checked />
          <label for="tab1">选项卡 1111</label>
          <div id="tab-content1" class="tab-content">
            <div class="linespacer"></div>
            <p>共产党是伟大光荣正确的党</p>
          </div>
        </li>
        <li>
        <input type="radio" name="tabs" id="tab2" />
          <label for="tab2">选项卡 2</label>
          <div id="tab-content2" class="tab-content">
            <div class="linespacer"></div>
            <p>选项卡内容 2</p>
          </div>
        </li>
      </ul>
      
    </div>
</div>
</div>