<%= render partial: 'common/theme_jzcnw/column_search_category' %>

<div class="zs_nr1">
  <div class="zs_nr3">简历信息</div>
  <!-- <div class="zs_nr2"><a href="" class="lk_6"></a></div> -->
  <div class="zs_nr4"><a href="#" class="lk_8">免费发布&gt;&gt;</a></div>
</div>

<div id="fb_nrk_2">
  <div class="zs_nz_1">
    <div class="zs_nz_b4"><strong>姓名</strong></div>
    <div class="zs_nz_b4"><strong>薪资</strong></div>
    <div class="zs_nz_b4"><strong>学历</strong></div>
    <div class="zs_nz_b2"><strong>专业</strong></div>
    <div class="zs_nz_b4"><strong>地区</strong></div>
    <div class="zs_nz_b4"><strong>更新时间</strong></div>
  </div>
</div>
<div id="fb_nrk_2">  
  <%= render @resumes %>
</div>

<div class="box_1003"><img src="/images/bk_r3_c1.jpg" width="1003" height="19"></div>