/ 头部开始
#m_top
#m_logo
  %ul
    %li
      %a.link_dh{:href => root_url } 首 页
    %li
      %a.link_dh{:href => zizhi_daiban_path} 资质代办
    %li
      %a.link_dh{:href => "#"} 资质转让
    %li
      %a.link_dh{:href => "#"} 资质挂靠
    %li
      %a.link_dh{:href => "#"} 人员挂靠
    %li
      %a.link_dh{:href => "#"} 公司黄页
    %li
      %a.link_dh{:href => "#"} 建筑培训
    %li
      %a.link_dh{:href => "#"} 企业招聘
    %li
      %a.link_dh{:href => "#"} 资质查询