- if @type_id == '2'
  = render partial: 'resumes/form', locals: { seg_id: @seg_id, cat_id: @cat_id }
- elsif
  = render partial: 'home/publish_templates/content_add', locals: { seg_id: @seg_id, cat_id: @cat_id }