- if @type_id == '2'
  = render partial: 'resumes/form', locals: { seg_id: @seg_id, cat_id: @cat_id }
- elsif @type_id == '9'
  = render partial: 'home/publish_templates/content_type_daiban', locals: { seg_id: @seg_id, cat_id: @cat_id }
- else
  = render partial: 'home/publish_templates/content_add', locals: { seg_id: @seg_id, cat_id: @cat_id }