<div class="hnr_bt">
  <%= link_to truncate(strip_tags(segment.title), :length => 10), post_category_path(:seg_name => segment), class: "lk_3" %>
</div>
<div class="hnr_nr">
  <ul>    
    <%= render segment.categories %>
  </ul>
</div>