<div class="box_1003"><img src="images/hnr_r1_c1.jpg"></div>

<div id="hnr_bk">
  <!--内容 第一排-->
  <div class="hnr_y">
    <!--一级建造师-->
    <div class="hnr_bt"><a href="#" class="lk_3">一级建造师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">建筑工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">市政公用<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">机电工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">水利水电<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">公路工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">矿业工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">通信与广电<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">港口与航道<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">铁路工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">民航机场<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>  
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--电气工程师-->
    <div class="hnr_bt"><a href="#" class="lk_3">电气工程师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">供配电<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">发输变电<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--公用设备工程师-->
    <div class="hnr_bt"><a href="#" class="lk_3">公用设备工程师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">暖通空调<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">给水排水<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">动力<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--造价师-->
    <div class="hnr_bt"><a href="#" class="lk_3">造价师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">建设部<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">水利部<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">交通部<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
  </div>
  <!--竖 分割线-->
  <div class="box_left"><img src="images/tm.png" width="30" height="100"></div>
  
  <!--内容 第二排-->
  <div class="hnr_y">
    <!--二级建造师-->
    <div class="hnr_bt"><a href="#" class="lk_3">二级建造师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">建筑工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">机电工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">市政公用工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">水利水电工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">公路工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">矿业工程<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--结构师-->
    <div class="hnr_bt"><a href="#" class="lk_3">结构师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">一级结构师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">二级结构师<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--建筑师-->
    <div class="hnr_bt"><a href="#" class="lk_3">建筑师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">一级建筑师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">二级建筑师<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--土木工程师-->
    <div class="hnr_bt"><a href="#" class="lk_3">土木工程师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">注册岩土<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">水利水电<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">港口航道<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--监理师-->
    <div class="hnr_bt"><a href="#" class="lk_3">监理师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">建设部<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">水利部<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">交通部<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
  </div>
  <!--竖 分割线-->
  <div class="box_left"><img src="images/tm.png" width="30" height="100"></div>
  
  <!--内容 第三排-->
  <div class="hnr_y">
    <!--个人兼职简历-->
    <div class="hnr_bt"><a href="#" class="lk_3">个人兼职简历</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">二级建造师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">一级建造师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">初级职称证书<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">结构师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">建筑师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">造价师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">公用设备工程师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">注册咨询师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">监理师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">电气工程师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">土木工程师<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--注册咨询师-->
    <div class="hnr_bt"><a href="#" class="lk_3">注册咨询师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">环境工程和生态建设<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">市政公用工程<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--其他证书-->
    <div class="hnr_bt"><a href="#" class="lk_3">其他证书</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">城市规划师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">环评工程师<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">房地产估价师<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--注册消防工程师-->
    <div class="hnr_bt"><a href="#" class="lk_3">注册消防工程师</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">视频课程</a></li>
        <li><a href="#" class="hnr_lk">在线做题</a></li>
        <li><a href="#" class="hnr_lk">考试资讯</a></li>
      </ul>
    </div>
  </div>
  <!--竖 分割线-->
  <div class="box_left"><img src="images/tm.png" width="30" height="100"></div>
  
  <!--内容 第四排-->
  <div class="hnr_y">
    <!--初/中/高级职称证书-->
    <div class="hnr_bt"><a href="#" class="lk_3">初/中/高级职称证书</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">建筑/建筑施工..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">园林设计/园艺..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">建筑电气类<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">给排水<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">暖通/暖通空调..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">市政/公路<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">工民建<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">机械、自动化类..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">园林绿化<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">水利水电/化工..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">建设设计/测量..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">更多<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--资质代办-->
    <div class="hnr_bt"><a href="#" class="lk_3">资质代办</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">总承包资质办理<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">园林绿化资质代办<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">施工专业承包资质<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">园林绿化资质代办<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">设计施工一体化资质..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">代办劳务分包资质<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">代办企业资质<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">建筑企业资质办理<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">代办资质证书<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">更多<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
  </div>
  <!--竖 分割线-->
  <div class="box_left"><img src="images/tm.png" width="30" height="100"></div>
  
  <!--内容 第五排-->
  <div class="hnr_y">
    <!--全职招聘-->
    <div class="hnr_bt"><a href="#" class="lk_3">全职招聘</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">工程/项目管理<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">建筑设计<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">土木/工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">给排水/暖通/空调..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">市政/路桥/轨道/..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">造价/预算/评估/..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">现场专业人员<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">装饰装修/室内设计..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">钢结构<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">综合管理<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">园林景观<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">环境工程<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">市场/营销/策划<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
    <!--行 分割线-->
    <div class="box_left"><img src="images/tm.png" width="170" height="20"></div>
    <!--资质代办-->
    <div class="hnr_bt"><a href="#" class="lk_3">新版资质代办</a></div>
    <div class="hnr_nr">
      <ul>
        <li><a href="#" class="hnr_lk">施工专业承包资质<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">施工总承包资质<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">设计施工一体化资质..<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">园林绿化资质<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">施工劳务分包资质<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">设计资质<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">监理资质<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">勘察资质<span class="txt_3">(xx)</span></a></li>
        <li><a href="#" class="hnr_lk">其他资质<span class="txt_3">(xx)</span></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="box_1003"><img src="images/hnr_r5_c1.jpg"></div>