<div class="box_1003">
  <div class="box_left"><img src="/images/top_r5_c1.jpg"></div>
  <div id="dh_bj">
    <ul>
    <li><div class="dh_lk">首页</div></li>
    <li><a href="#" class="dh_lk">证书信息</a></li>
    <li><a href="#" class="dh_lk">资质信息</a></li>
    <li><a href="#" class="dh_lk">简历库</a></li>
    <li><a href="#" class="dh_lk">公司黄页</a></li>
    <li><a href="#" class="dh_lk">证书培训</a></li>
    <li><a href="#" class="dh_lk">资质查询</a></li>
    </ul>
  </div>
  <div class="box_left"><img src="/images/top_r5_c22.jpg"></div>
</div>

<div class="box_1003"><img src="/images/top_r6_c1.jpg"></div>
