<div id="foot_lbj">
  <div id="foot_link">
    友情链接：<!--循环开始--><a href="#" class="lk_5">标题名称</a>&nbsp;<!--循环结束--></div>
</div>


<div id="foot_bq">
  <p><a href="#" class="lk_2">推广服务</a> |  <a href="#" class="lk_2">联系我们</a> |  <a href="#" class="lk_2">关于我们</a> |  <a href="#" class="lk_2">网站公告</a></p>
  <p>本站是一个建筑企业与人才交流的中立平台，用户发布的招聘求职信息与本站无关！<br>
    证书挂靠：010-82207151；资质办理升级：13522001640；咨询QQ：2776681109</p>
</div>