<div class="box_1003">
  <div class="h_tk1">资质代办</div>
  <div class="h_tk2"><a href="<%= agent_category_path %>" class="lk_2">更多 &gt;&gt;</a></div>
  <div class="h_tk3">
    <!--循环 开始 呈 复数显示-->
    <% @records_zizhi.each do |record| %>
      <div class="h_tk3_b">
        &gt;&gt;&nbsp;
        <a href="<%= record_path(record) %>" class="lk_4">
          <%= record.title %>
        </a>
        &nbsp;&nbsp;
        <span class="txt_3"><%= record.created_at.strftime('%Y-%m-%d').to_s %></span>
      </div>
    <% end %>
    <!--循环 结束 呈 复数显示-->
  </div>
</div>

<div class="box_1003"><img src="/images/h_tk_r4_c1.jpg"></div>