<div class="box_1003">
  <div class="h_tk1">推荐企业</div>
  <div class="h_tk2"><a href="#" class="lk_2">更多 &gt;&gt;</a></div>
  <div class="h_tk3">
    <!--循环 开始 呈 单数显示-->
    <div class="h_tk3_b">&gt;&gt;&nbsp;<a href="#" class="lk_4">这里显示内容信息这里显示内容信息</a>&nbsp;&nbsp;<span class="txt_3">[01-01]</span></div>
    <!--循环 结束 呈 单数显示-->
  </div>
</div>

<div class="box_1003"><img src="images/h_tk_r4_c1.jpg"></div>