<div class="box_1003">
  <div class="box_left"><img src="/images/top_r2_c1.jpg"></div>
  <!--搜索栏-->
  <div id="top_soo">
    <form action="" method="post">
    <div class="box_left"><img src="/images/top_r3_c11.jpg"></div>
  <div id="top_soo_bjs"><input type="text" class="soo" value="搜索请输入关键字..." onfocus="this.value=''">
  </div>
  <div class="box_left"><input name="" type="image" src="/images/top_r3_c16.jpg" width="63" height="30"></div>
  </form>
  <div id="soo_gjz"><a href="#" class="lk_2">一级建造师</a>&nbsp;|</div>
  </div>
  <!--免费发布-->
  <div id="fabu"><a href="#"><img src="/images/top_r3_c18.jpg" border="0"></a></div>
</div>