// Place all the styles related to the resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.fb_sc{text-decoration: none;display: block;height: 41px;width: 153px;margin-right: auto;margin-left: auto;}