<li>
  <% title = truncate(strip_tags(category.title), :length => 8) %>
  <%= link_to "#{title}<span>(#{category.records.count})</span>".html_safe, post_category_path(:seg_name => category.segment_id, :cat_name => category), class: 'hnr_lk' %>
</li>