<div class="box_1003"><img src="/images/ft_1_r1_c1.jpg"></div>

<div id="fb_nrk_2">
  <!--面包屑导航-->
  <div id="fb_mbx_3">
    <div class="fb_mbx_txt2"><a href="#" class="lk_6">第一步</a></div>
    <div class="fb_mbx_txt2"><a href="#" class="lk_6">第二步</a></div>
    <div class="fb_mbx_txt1">第三步</div>
  </div>
  <!--内容开始-->
  <%= render partial: 'resumes/form', locals: { seg_id: @seg_id, cat_id: @cat_id} %>
  <div class="box_1003"><img src="/images/ft_1_r5_c1.jpg"></div>
</div>