<!--内容开始-->
<div class="center"><img src="../images/release/bt_2.jpg" width="1010" height="78" /></div>
<div class="center">
  <!--选择分类-循环开始-->
  <% @segments.each do |seg| %>
    <div class="fb_b1"><%= seg.title %></div>
    <div class="fb_b2">
      <ul>
        <!--小类循环 开始-->
        <% seg.categories.each do |cat| %>
          <li><a href="<%= jz_build_link(home_publish_add_path, ['seg=' + seg.id, 'cat=' + cat.id] ) %>" class="fb_an"><%= cat.title %></a></li>
        <% end %>
        <!--小类循环 结束-->
      </ul>
    </div>
  <% end %>
  <!--选择分类-循环结束-->
</div>
<div class="center"><img src="../images/jianli/bk_1_r4_c1.jpg" /></div>